PORT=3000
CORS_ORIGIN=http://localhost:5173

# Docker default (lihat be/docker-compose.yml)
# Option 1: use single connection string
# DATABASE_URL=postgres://postgres:postgres@localhost:55432/stasrg

# Option 2: use separate fields
DB_HOST=localhost
DB_PORT=55432
DB_NAME=stasrg
DB_USER=postgres
DB_PASSWORD=postgres
